/* Reset */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'DM Sans', sans-serif;
	background-color: var(--dark-gray-og);
}

/* Global variables */
:root {
	/* 8pt grid */
	--pt8: 0.5rem;
	/* Font family */
	--dm-sans: 'DM Sans', sans-serif;
	/* Font sizes */
	--pt-type-14: 0.875rem;
	--pt-type-16: 1rem;
	--pt-type-18: 1.125rem;
	--pt-type-20: 1.25rem;
	--pt-type-24: 1.5rem;
	--pt-type-30: 1.875rem;
	--pt-type-36: 2.25rem;
	--pt-type-42: 2.625rem;
	--pt-type-48: 3rem;
	--pt-type-96: 6rem;
	/* Letter spacing */
	--neg-1: -0.063rem;
	--neg-2: -0.125rem;
	/* Colors */
	--blue-og: #005CE7;
	--blue-light-og: #21AAEF;
	--dark-gray-og: #17191a;
	--light-gray-og: #2F3538;
	--white-og: #FCFCFC;
	--lime-green-og: #1DDF5F;
	/* Transitions */
	--easeOutExpo: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

/* Flex */
.flx {
	display: flex;
}

.flx-wrap {
	flex-wrap: wrap;
}

.flx-dir-col {
	flex-direction: column;
}

.flx-dir-row {
	flex-direction: row;
}

.flx-ai-stretch {
	align-items: stretch;
}

.flx-ai-c {
	align-items: center;
}

.flx-jc-fs {
	justify-content: flex-start;
}

.flx-jc-c {
	justify-content: center;
}

.flx-jc-fe {
	justify-content: flex-end;
}

.flx-jc-sb {
	justify-content: space-between;
}

/* Gutter spacing */
.gutterSml-lr {
	padding-left: var(--pt-type-16);
	padding-right: var(--pt-type-16);
}

.gutterMed-lr {
	padding-left:  var(--pt-type-18);
	padding-right: var(--pt-type-18);
}

.gutterMed-tb {
	padding-top:  var(--pt-type-18);
	padding-bottom: var(--pt-type-18);
}

/* Grid */
/* Desktop */
.col-12 {
  width: 100%;
}
/* Mobile & tablets */
@media screen and (min-width: 800px) {
  .col-6 {
    width: 49.99999998%;
  }
}

@media screen and (min-width: 1140px) {
  .col-4 {
    width: 33.33333332%;
  }
}

@media screen and (min-width: 1012px) {
  .col-3 {
    width: 24.99999999%;
  }
}

.container {
	max-width: 1600px;
	margin: 0 auto;
}

/* Headings, subheadings, paragraph, links */
h1 {
	font-size: var(--pt-type-48);
	font-weight: 500;
	letter-spacing: var(--neg-1);
}

h2 {
	font-size: var(--pt-type-30);
	font-weight: 500;
	letter-spacing: var(--neg-2);
}

h3 {
	font-size: var(--pt-type-24);
	font-weight: 400;
	line-height: 2.125rem;
}

p {
	font-size: var(--pt-type-16);
	line-height: var(--pt-type-24);
}

.smlRegLink {
	font-size: var(--pt-type-14);
	font-weight: 400;
}

.smlBoldLink{
	font-size: var(--pt-type-14);
	font-weight: 700;
}

.navlink {
	font-size: var(--pt-type-16);
	font-weight: 500;
}

.title {
	font-size: var(--pt-type-18);
	font-weight: 700;
}

i {
	font-weight: normal;
}

.underline {
	display: inline-block;
	content: '';
	width: inherit;
	height: 1px;
	background-color: transparent;
}

/* Container */
.container {
	padding: 0 calc(var(--pt8) * 4);
}

/* Buttons */
.btn {
	display: inline-block;
	padding: 0.75rem var(--pt-type-24);
	color: var(--white-og);
	border-radius: 3.125rem;
	cursor: pointer;
}

.btn i {
	margin-right: var(--pt-type-24);
}

/* Button types */
.outlineDarkBtn {
	border: 0.125rem solid transparent;
}

.btnSolidDark {
	background-color: #17191a;
}

.btnSolidDark i {
	color: var(--white-og) !important;
}

/* Header section */
header {
	background-color: var(--dark-gray-og);
	padding: calc(var(--pt8) * 4);
	border-bottom: 1px solid var(--light-gray-og);
}

/* Main navigation */
.navMain {
	background-color: var(--dark-gray-og);
}

nav ul {
	list-style: none;
}

nav a {
	text-decoration: none;
	color: var(--white-og);
}

nav ul:nth-child(2) a {
	margin-left: var(--pt-type-48);
	font-weight: 500;
}

.logoMain {
	font-size: var(--pt-type-18);
	font-weight: 700;
	letter-spacing: var(--neg-1);
}

/* Hero section */
section.hero {
	display: flex;
	align-items: center;
	height: 1000px;
	background-color: var(--dark-gray-og);
	padding: calc(var(--pt8) * 4);
}

section.hero h1,
section.hero h3 {
	color: var(--white-og);
	margin-bottom: var(--pt-type-48);
}

section.hero .outlineDarkBtn {
	border-color: var(--light-gray-og);
}

/* Main section */
section.content {
	/* Gradient background */
	background: rgb(0, 92, 231);
	background: -moz-linear-gradient(0deg, rgba(0, 92, 231, 1) 35%, rgba(33, 170, 239, 1) 100%);
	background: -webkit-linear-gradient(0deg, rgba(0, 92, 231, 1) 35%, rgba(33, 170, 239, 1) 100%);
	background: linear-gradient(0deg, rgba(0, 92, 231, 1) 35%, rgba(33, 170, 239, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#005ce7", endColorstr="#21aaef", GradientType=1);
	/* Padding */
	padding: var(--pt-type-96) 0;
}

main h2 {
	text-align: center;
	color: var(--white-og);
	margin-bottom: var(--pt-type-16);
}

main h2 i {
	margin-right: var(--pt8);
}

main .outlineDarkBtn {
	border-color: var(--white-og);
}

main .contentTitle {
	margin-bottom: calc(var(--pt8) * 3);
}

.cardContent .btn,
.cardContent .btn i {
	transition: var(--easeOutExpo);
}

.cardContent .btn:hover.outlineDarkBtn {
	border-color: var(--blue-og);
}

.cardContent .btn:hover.btn i {
	transform: rotate(45deg);
}

.cardContent img {
	width: 100%;
	max-width: 816px;
}

/* Badge cards */
.c1 {
  margin-right: 12px;
}

.c2 {
  margin-bottom: 12px;
}

.c4 {
  margin-left: 12px;
}

.c1,
.c2,
.c3,
.c4 {
	border-radius: 1rem;
	overflow: hidden;
}

/* Cards */
.repoCard {
	width: 100%;
	flex: 1 0 auto;
	background-color: var(--white-og);
	padding: var(--pt-type-24);
	border-radius: 6px;
}

.repoCard_tTp {
	color: var(--dark-gray-og);
	margin-bottom: calc(var(--pt8) * 5);
}

.repoCard_Middle {
	margin-bottom: calc(var(--pt8) * 5);
	height: 100%;
	max-height: 300px;
}

.repoCard_Middle p {
	font-size: var(--pt-type-16);
	font-weight: 500;
	color: var(--light-gray-og);
}

.repoCard_Bottom .smlBoldLink:nth-child(1),
.repoCard_Bottom i {
	margin-right: var(--pt8);
}

.repoCard_Bottom .smlBoldLink:nth-child(1) i {
	color: var(--lime-green-og);
}

.repoCard_Bottom {
	position: relative;
}

.repoCard_Bottom .btn {
	position: absolute;
	right: 0;
	bottom: -3rem;
	z-index: 2;
}

.repoCard_Bottom i {
	transition: var(--easeOutExpo);
}

.repoCard_Bottom .btn:hover.btn i {
	padding-right: var(--pt-type-20);
}

.repoCardWrapper.gutterMed-tb {
	padding-bottom: calc(var(--pt-type-18) * 2) !important;
}

.cardWrapper_End .btn {
	margin-top: calc(var(--pt-type-18) * 3);
}